vendor
.vscode/launch.json
.docker/dev.Dockerfile
.docker/dev-alpine.Dockerfile
**/__debug_bin*

cmd/server/ams

node_modules
cmd/server/ams

.npmrc
.VERSION
VERSION
.idea/
swagger-docs
dump.rdb
config.example.yaml
*.local
get_helm.sh
producer/main.go
config.example
CLAUDE.md
